:root {
  --primary: #dfcbff;
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 20%);
  --dark-gray: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--off-black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: scale(1.2);
}

.card {
  background-color: rgb(0 0 0 / 30%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  width: 100%;
  max-width: 384px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.card-avatar {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.header-text {
  color: var(--primary);
  font-weight: 700;
}

.card-links {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-links-item {
  display: block;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: rgb(34 34 34 / 50%);
  color: var(--white);
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.card-links-item::before {
  content: '';
  position: absolute;
  background-color: var(--primary);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  translate: -100%;
  transition: translate 0.3s ease-in-out;
}

.card-links-item span {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.card-links-item:hover {
  color: var(--gray);
  translate: 0%;
}

.card-links-item:hover::before {
  translate: 0%;
}

@media (min-width: 768px) {
  body {
    padding: 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }
}
